---
import {getCollection} from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

// This function generates the static paths for your Astro pages based on tags.
export async function getStaticPaths() {
  // Get all posts by globbing the posts directory for markdown files.
  const allPosts = await getCollection("posts");

  // Extract all unique tags from the posts' frontmatter.
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  // Return an array of objects, each containing a tag and the posts associated with that tag.
  return uniqueTags.map((tag) => {
    // Filter the posts for those that include the current tag.
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );

    // Return an object with the tag as a parameter and the filtered posts as a prop.
    return {
      params: {tag},
      props: {posts: filteredPosts},
    };
  });
}

// Extract the tag from the Astro params.
const {tag} = Astro.params;

// Extract the posts from the Astro props.
const {posts} = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post) => (
        <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
