---
import BaseLayout from "../layouts/BaseLayout.astro";

const id = {
  firstName: "Rudi",
  country: "Switzerland",
  occupation: "Old Programmer",
  hobbies: ["walking", "skiing", "reading", "programming"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "Astro",
  "Go",
  "Swift",
  "Python",
  "Perl",
  "C++",
];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle='About Me'>
  <h2>
    <a href='https://github.com/rudifa'> Me?</a>
    An old programmer learning new tricks.
  </h2>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {id.firstName}.</li>
    <li>
      I live in {id.country} and I work as an {id.occupation}.
    </li>
    {
      id.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {id.hobbies[0]} and {id.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class='skill'>{skill}</li>)}
  </ul>
  <h2>Right now, working hard thru the astro tutorial...</h2>
</BaseLayout>
