---
import BaseLayout from "./BaseLayout.astro";
const {frontmatter} = Astro.props;
frontmatter.pubDate = new Date(frontmatter.pubDate).toLocaleDateString();
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Written by {frontmatter.author}</p>
  <p>Published on {frontmatter.pubDate}</p>
  <p>{frontmatter.description}</p>
  <hr />
  <slot />
  <hr />
</BaseLayout>
